.text1 {
    border: 1px solid;
    width: 70px;
}
.dropdown {
    display: flex;
}
table {
    border-collapse: collapse;
    width: 30%;
}
td,th {
    padding: 7px;
    
}
th {
    background-color: aqua;
}