.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.body-filepicker input {
  border: 2px solid #00B0A6;
  padding: 50px;
}

.body-filepicker label {
  margin-right: 50px;
}

.dropdown {
  font-size: 15px;
  width: 280px;
}

 








