.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.body-filepicker input {
  border: 2px solid #00B0A6;
  padding: 50px;
}

.file-container {
    margin-left: 50px;
}

.body-filepicker input {
    border: 2px solid #00B0A6;
    padding: 50px;
    margin-right: 100px;
}

.body-filepicker label {
  margin-right: 50px;
}

.dropdown {
  font-size: 15px;
  width: 280px;
}

 








