
.file-container {
    margin-top: 100px;
    margin-left: 50px;
    
}
.upload-container input{
    border: 2px solid #6cfecb;
    padding: 50px;
    margin-top: 10px;
    border-radius: 8px;
    
}
.upload-container label {
    margin-right: 50px;
}
.button-click {
    width: 200px;
    margin-top: 40px;
    margin-left: 120px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 3px solid #6cfecb;
    background-color: white;
    border-radius: 35px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ;
}
.button-click:hover {
    background-color: #6cfecb;
}
.input-container {
    padding-top: 20px;
}